[submodule "bundle/LaTeX-Box"]
	path = bundle/LaTeX-Box
	url = https://github.com/rhaidiz/LaTeX-Box
[submodule "bundle/Vundle.vim"]
	path = bundle/Vundle.vim
	url = https://github.com/VundleVim/Vundle.vim
